.fr-display {
	list-style-type: none;
	text-align: left;
	padding-left: 15px !important;
	padding-right: 15px !important;
}

.fr-li {
	display: inline-block;
}

.main-header {
	text-align: center;
}

.w100p {
	width: 100%;
}

.wrap-words {
	white-space: normal;
}