.fr-display {
	list-style-type: none;
	text-align: left;
	-webkit-padding-end: 40px;
}

.fr-li {
	display: inline-block;
}

.main-header {
	text-align: center;
}

.w100p {
	width: 100%;
}

.wrap-words {
	white-space: normal;
}